<html>
    <head>
    	<title>About</title>
    </head>
    <body>

        <div>
        	<h1>Group Members</h1>
        	<h3>Wutichai Chansawat  5510490047</h3>
        	<h3>Tanapat Xu          5510613408</h3>
        	<h3>Anuwat Lertpongvipusana  5310610653</h3>
        </div>

        <div>
        	<h1>Requirements</h1>
        	<ul>
        		<li>Able to add new subject to the management system</li>
        		<li>Able to add new room to the management system</li>
        		<li>Able to edit( or remove ) subjects in the management system</li>
        		<li>Able to edit( or remove ) locations in the management system</li>
        		<li>Automaticly manage schedule of exam room</li>
        		<li>Able to edit schedule of examination room</li>
        		<li>Able to show all schedule which include subject, date, time, building and room</li>
        	</ul>
        </div>

        <!--feature section-->
        <div>
        	<h1>Features</h1>
        	<ol>
        		<li>
        			Feature: Add a new room 
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can use a new room</li>
        				<li>I want to add a new room to the system</li>
        			</ul>
        		</li>

        		<li>
        			Feature: Edit or remove the component of a locations
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can use edit or delete function for room</li>
        				<li>I want to edit a room or delete it out of the system</li>
        			</ul>
        		</li>

        		<li>
        			Feature: Add a new subject
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can use a new subject</li>
        				<li>I want to add a new subject to the system</li>
        			</ul>
        		</li>

        		<li>
        			Feature: Edit or remove the component of subject(date and time)
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can use edit or delete function for subject</li>
        				<li>I want to edit or delete it out of the system</li>
        			</ul>
        		</li>

        		<li>
        			Feature: Show all available locations
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can see all available rooms</li>
        				<li>I want to show all available rooms in the system</li>
        			</ul>
        		</li>

        		<li>
        			Feature: Show all subjects
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can see all subjects</li>
        				<li>I want to show all subjects</li>
        			</ul>
        		</li>

        		<li>
        			Feature: Show the schedule 
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can see the schedule</li>
        				<li>I want to show all schedule</li>
        			</ul>
        		</li>

        		<li>
        			Feature: Edit the schedule 
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can use edit schedule function</li>
        				<li>I want to edit the schedule</li>
        			</ul>
        		</li>
        		
        		<li>
        			Feature: Show all details(location,managed room,subject) 
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can see the details of location managed room and subject</li>
        				<li>I want to see the details</li>
        			</ul>
        		</li>
        		
        		<li>
        			Feature: Show search result(location,managed room,subject) 
        			<ul>
        				<li>As an admin</li>
        				<li>So that I can see the result searching of location managed room and subject</li>
        				<li>I want to see the searching lists</li>
        			</ul>
        		</li>

        	</ol>

        </div>

        <div>
        	<h1>ER-Diagram</h1>
        	<%= image_tag "ExamManagement.png" %>
        </div>
        
        <div>
        	<h1>Mock-up</h1>
        	<%= image_tag "1.png" %>
        	<%= image_tag "2.png" %>
        	<%= image_tag "3.png" %>
        	<%= image_tag "4.png" %>
        	<%= image_tag "5.png" %>
        	<%= image_tag "6.png" %>
        </div>
        
        <div>
        	<h1>Storyboard</h1>
        	<%= image_tag "7.png" %>
        </div>

        <div>
       	    <button type="button" class="btn btn-warning"><%= link_to "Pivotal Tracker", "https://www.pivotaltracker.com/n/projects/1298670" %></button>&nbsp&nbsp
        	<button type="button" class="btn btn-warning"><%= link_to "Github", "https://github.com/synycboom/term-project" %></button>&nbsp&nbsp
        	<button type="button" class="btn btn-info" onclick="window.location.href='index.html'">Back</button>
        </div>

    </body>
</html>