<html>
    <head>
    </head>
    <body>
        <p class="bg-primary">EXAM MANAGEMENT</p>
        <div class="page-header">
        <h3>Add New Location</h3>
        </div>
        <div class="container">
        <%= @errors %>
        <%= form_for @location , url: add_new_location_path do |f| %>
          
       
          <div class="form-group">
         
          <% unless @location.errors.empty? %>
            <%= f.label :room_no, "Room no: #{@location.errors[:room_no].first}" %>
          <%else%>
           <%= f.label :room_no %>:
          <%end%>
          <%= f.text_field :room_no, :class => 'form-control',:placeholder => "ex. engr304"  %><br />
          
          <% unless @location.errors.empty? %>
            <%= f.label :building, "Building: #{@location.errors[:building].first}" %>
          <%else%>
           <%= f.label :building %>:
          <%end%>
          <%= f.text_field :building , :class => 'form-control', :placeholder => "ex. engr1" %><br />
          
          <% unless @location.errors.empty? %>
            <%= f.label :total_table, "Total table: #{@location.errors[:total_table].first}" %>
          <%else%>
           <%= f.label :total_table %>:
          <%end%>
          <%= f.text_field :total_table , :class => 'form-control', :placeholder => "ex. 32" %><br />
        
          <%= f.submit 'Save Location', :class => 'btn btn-success' %>
          </div>
        <% end %>
        <button type="button" class="btn btn-info" onclick="history.go(-1);">Back</button>
        </div>
    </body>
</html>