<html>
    <head>
    </head>
    <body>
        <p class="bg-primary">EXAM MANAGEMENT</p>
        <div class="page-header">
        <h3>Edit:  <%= @subject.s_id %></h3>
        </div>
        <div class="container">
            <%= @errors %>
            <%= form_for @subject , url: update_s_path(:s_id => @subject) do |f| %>
            
            <div class="form-group">
                    
                <% unless @subject.errors.empty? %>
                    <%= f.label :s_name, "Subject name: #{@subject.errors[:s_name].first}" %>
                <%else%>
                    <%= f.label :s_name,"Subject name" %>:
                <%end%>
                    <%= f.text_field :s_name, :class => 'form-control',:placeholder => "ex. OOP"  %><br />
                    
                <% unless @subject.errors.empty? %>
                    <%= f.label :section, "Section: #{@subject.errors[:section].first}" %>
                <%else%>
                    <%= f.label :section, "Section" %>:
                <%end%>
                    <%= f.text_field :section, :class => 'form-control',:placeholder => "ex. 570001"  %><br />
                    
                    
                    
                <%= f.submit 'Update', :class => 'btn btn-success' %>&nbsp&nbsp<button type="button" class="btn btn-info" onclick="history.go(-1);">Back</button>
            </div>
            
            <% end %>
        </div>
    </body>
</html>