<html>
    <head>
    </head>
    <body>
        <p class="bg-primary">GENERATE SCHEDULER</p>
        <div class="page-header">
        <h3>GENERATE</h3>
        </div>
        <% if flash[:warning] %>
            <label class="invalid-input"><%= flash[:warning] %></label>
        <% end %>
        <%= form_tag("manage_room", method: "get",class: 'form-inline') do %>
            <%= label_tag(:q, "Start date:") %>
            <%= select_date Date.today, prefix: :start_date %>
            <%= label_tag(:s, "End date:") %>
            <%= select_date Date.today, prefix: :end_date %>
            <br>
            <%= label_tag(:h, "Test duration:") %>
            <%= select_tag(:type,options_for_select([ ['Midterm', 'midterm'] ,['Final','final']])) %>
            <br>
            <%= submit_tag "Generate!!",class: 'btn btn-danger' %>
            
        <% end %>
        <br><button type="button" class="btn btn-info" onclick="history.go(-1);">Back</button>
    </body>
</html>