<html>
    <head>
    </head>
    <body>
        <p class="bg-primary">EXAM MANAGEMENT</p>
        <div class="page-header">
        <h3>Show All Locations</h3>
        </div>
        <% if flash[:notice] %>
        <label class="success-input"><%= flash[:notice] %></label>
        <% end %>
        <table class="table table-bordered">
            <thead>
                <th>Room Number</th>
                <th>Total Table</th>
                <th>Building</th>
            </thead>
            <tbody>
                <% @locations.each do |location| %>
                <tr>
                    <td>
                        <%= location.room_no %>
                    </td>
                    <td>
                        <%= location.total_table %>
                    </td>
                    <td>
                        <%= location.building %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <h1><%= link_to 'add new location', add_location_form_path %></h1>
    </body>
</html>