<html>
    <head>
    </head>
    <body>
        <p class="bg-primary">EXAM MANAGEMENT</p>
        <div class="page-header">
        <h3>Show All Subjects</h3>
        </div>
        
        <%= form_tag("show_search_subject", method: "get",class: 'form-inline') do %>
              <%= label_tag(:q, "Search for:") %>
              <%= text_field_tag 'search_value',nil,class: 'form-control' %>
              <%= select_tag(:search_by,options_for_select([['Subject ID', 's_id'], ['Subject Name', 's_name'] ,['Section','section'],['Exam Date','date'],['Exam Time','time']]), { :class => 'form-control' }) %>
              <%= submit_tag "Search",class: 'btn btn-danger' %>
        <% end %>
        <br>
        
        <% if flash[:notice] %>
        <label class="success-input"><%= flash[:notice] %></label>
        <% end %>
        <table class="table table-bordered">
            <thead>
                <th>Subject ID</th>
                <th>Subject Name</th>
                <th>Section</th>
                <th>Exam Date</th>
                <th>Exam Time</th>
                <th>Details</th>
            </thead>
            <tbody>
                <% @subjects.each do |subject| %>
                <tr>
                    <td>
                        <%= subject.s_id %>
                    </td>
                    <td>
                        <%= subject.s_name %>
                    </td>
                    <td>
                        <%= subject.section %>
                    </td>
                    <td>
                        <%= subject.date %>
                    </td>
                    <td>
                        <%= subject.time %>
                    </td>
                    <td>
                        <%= link_to 'Details', show_subject_detail_path(:dsub => subject) %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <%= link_to 'add new subject', add_subject_form_path %>
        </button>
        <br><br>
        <button onclick="window.location.href='index.html'" class='btn btn-info'>Back</button>
        <br><br>
    </body>
</html>