<html>
    <head>
    </head>
    <body>
        <p class="bg-primary">EXAM MANAGEMENT</p>
        <div class="page-header">
        <h3>Show All Subjects</h3>
        </div>
        <% if flash[:notice] %>
        <label class="success-input"><%= flash[:notice] %></label>
        <% end %>
        <table class="table table-bordered">
            <thead>
                <th>Subject ID</th>
                <th>Subject Name</th>
                <th>Section</th>
                <th>Exam Date</th>
                <th>Exam Time</th>
                <th>Details</th>
            </thead>
            <tbody>
                <% @subjects.each do |subject| %>
                <tr>
                    <td>
                        <%= subject.s_id %>
                    </td>
                    <td>
                        <%= subject.s_name %>
                    </td>
                    <td>
                        <%= subject.section %>
                    </td>
                    <td>
                        <%= subject.date %>
                    </td>
                    <td>
                        <%= subject.time %>
                    </td>
                    <td>
                        <%= link_to 'Details', show_subject_detail_path(:dsub => subject) %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <h1><%= link_to 'add new subject', add_subject_form_path %></h1>
        <button onclick="window.location.href='index.html'">Back</button>
    </body>
</html>